
<div class="page-title-area">
  
      <div class="container">
        <div class="page-title-content">
          <h1 class="text-white">About Us</h1>
        </div>
      </div>
  
</div>


<div id="about-section">
  <div class="container">
    <div class="row">
      <div class="col">
        <h2>Hi, we’re XYZ company</h2>
        <h3>We provide a next-generation TV service, available nationwide, with a growing array of traditional and
          digital channels.
        </h3>
        <p>Inspired by Philo T. Farnsworth, the inventor of electronic television, Philo was created to build a better
          TV experience. The company started in the college market and is available nationwide, offering subscribers
          dozens of top-rated television channels for a low monthly subscription. In addition to being the first
          entertainment-focused streaming TV service, Philo offers live TV, unlimited 1-Year DVR, on-demand, and content
          from top programmers all available on Android devices and Android TV, Fire Tablets and Amazon Fire TV, Apple
          TV, iOS/iPad, Roku, PC/Mac web browsers, and Chromecast with Android functionality. Philo currently offers 60+
          channels for just $25/month and allows three separate streams on three different devices with up to 10
          profiles. Philo features a streamlined interface, intelligent search, and the ability to easily send your
          favorite shows to friends – right from within the platform. Philo is based in San Francisco, with offices in
          New York and Cambridge, MA. For more information, philo.com.

        </p>
      </div>

      <div class="container">
        <div id="key-member">
          <h3 class="member-head">Key Members
          </h3>
          <div class="row">
            <div class="col">
              <div class="card" style="width: 18rem;">
                <img src="../../../assets/images/member.jpeg" class="card-img-top" alt="image">
                <div class="card-body">
                  <h5 class="card-title">Member Name</h5>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card" style="width: 18rem;">
                <img src="../../../assets/images/member.jpeg" class="card-img-top" alt="image">
                <div class="card-body">
                  <h5 class="card-title">Member Name</h5>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card" style="width: 18rem;">
                <img src="../../../assets/images/member.jpeg" class="card-img-top" alt="image">
                <div class="card-body">
                  <h5 class="card-title">Member Name</h5>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card" style="width: 18rem;">
                <img src="../../../assets/images/member.jpeg" class="card-img-top" alt="image">
                <div class="card-body">
                  <h5 class="card-title">Member Name</h5>
                </div>
              </div>
            </div>
           
          </div>
        </div>
        
      </div>

    </div>
  </div>
</div>